<%= form_with(model: [project, track], data: { controller: "slugify describe", "describe-prefix-value": project.name }, class: "contents") do |form| %>
  <% if track.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
        <% track.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, data: { action: "slugify#input describe#describe" }, class: "w-full bg-neutral-600/25 block shadow rounded-md outline-none border-none focus:ring-violet-400 px-3 py-2 text-white" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, data: { "describe-target": "output" }, class: "w-full bg-neutral-600/25 block shadow rounded-md outline-none border-none focus:ring-violet-400 px-3 py-2 text-white" %>
  </div>

  <div class="my-5 flex flex-col">
    <%= form.label :song_type %>
    <%= form.select :song_type, select_enum(Track.song_types), {}, class: "w-full bg-neutral-600/25 block shadow rounded-md outline-none border-none focus:ring-violet-400 px-3 py-2 text-white" %>
  </div>

  <div class="my-5 flex flex-col">
    <%= form.label :status %>
    <%= form.select :status, select_enum(Track.statuses), {}, class: "w-full bg-neutral-600/25 block shadow rounded-md outline-none border-none focus:ring-violet-400 px-3 py-2 text-white" %>
  </div>

  <details class="my-5">
    <summary class="font-medium cursor-pointer"><%= t("project.advanced") %></summary>
    <div class="my-5">
      <%= form.label :slug %>
      <%= form.text_field :slug, data: { "slugify-target": "output" }, class: "w-full bg-neutral-600/25 block shadow rounded-md outline-none border-none focus:ring-violet-400 px-3 py-2 text-white" %>
    </div>
  </details>

  <div class="flex flex-row w-full justify-end inline">
    <%= form.button(type: "submit",
                    "aria-label": t("project.track.save"),
                    class: "clicky rounded-lg py-1 px-3 bg-violet-500 text-white font-medium cursor-pointer") do %>
      <%= icon(:check, class: "size-8") %>
    <% end %>
  </div>
<% end %>
