<aside data-reveal-target="item" class="z-20 flex flex-col gap-4 h-full min-w-0 max-sm:w-screen max-sm:absolute sm:w-52 bg-neutral-800 px-4 max-sm:hidden">
  <%= link_to root_path, class: "clicky w-full" do %>
    <%= image_tag asset_path("atriarchy-light.png"), class: "w-full max-w-96 mx-auto mt-4" %>
  <% end %>
  <nav class="flex flex-col gap-2 items-center w-full font-bold text-white">
    <% if Current.user %>
      <%= nav_link("projects") do %>
        <%= icon(:musical_note, class: "size-6") %>
        <span><%= t("navigation.projects") %></span>
      <% end %>
      <%= nav_link("invites") do %>
        <%= icon(:user_plus, class: "size-6") %>
        <span><%= t("navigation.invites") %></span>
      <% end %>
      <%= nav_link("users") do %>
        <%= icon(:key, class: "size-6") %>
        <span><%= t("navigation.access") %></span>
      <% end %>
      <button class="sm:hidden clicky flex w-full items-center justify-start gap-2 rounded-lg p-2 font-semibold transition hover:bg-violet-500" data-action="reveal#toggle">
        <%= icon(:bars_3, class: "size-6") %>
        <span><%= t("navigation.toggle") %></span>
      </button>
    <% end %>
  </nav>
  <div class="flex flex-col min-w-0 gap-4 max-sm:hidden">
    <%= yield :sidebar_card %>
  </div>
  <% if Current.user %>
    <div class="flex flex-col min-w-0 w-full justify-end h-full mb-4">
      <div class="clicky flex flex-col sm:flex-row gap-2 min-h-0 min-w-0 justify-center items-center">
        <%= link_to Current.user do %>
          <%= user_avatar(Current.user, class: "w-full max-w-24 aspect-square rounded-full") %>
        <% end %>
        <div class="flex flex-col max-sm:items-center w-full">
          <%= link_to Current.user do %>
            <span class="text-xl w-full font-bold truncate"><%= Current.user.name %></span>
          <% end %>
          <%= destroy_btn session_path, t("sessions.confirm_logout"), class: "clicky flex flex-row max-sm:items-center w-full text-white hover:text-red-300" do %>
            <%= icon(:arrow_left_end_on_rectangle, class: "size-6") %>
            <span><%= t("sessions.logout") %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</aside>
