<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %> - Trackboard
      <% else %>
        Trackboard
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="title" content="Atriarchy Studios - Trackboard">
    <meta name="description" content="Atriarchy Release Dashboard">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dash.atriarchy.studio">
    <meta property="og:title" content="Atriarchy Studios - Trackboard">
    <meta property="og:description" content="Atriarchy Release Dashboard">
    <meta property="og:image" content="/atriarchy.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://dash.atriarchy.studio">
    <meta property="twitter:title" content="Atriarchy Studios - Trackboard">
    <meta property="twitter:description" content=" Atriarchy Release Dashboard">
    <meta property="twitter:image" content="/atriarchy.png">
  </head>

  <body class="h-screen flex flex-row bg-neutral-900 text-white" data-controller="reveal" data-reveal-hidden-class="max-sm:hidden">
    <% unless @disable_sidebar %>
      <%= render "layouts/sidebar" %>
    <% end %>
    <div class="w-full flex flex-col gap-8 overflow-y-auto">
      <header class="bg-neutral-800 sticky top-0">
        <%= yield :header %>
      </header>
      <main class="mx-4 mb-8 md:mx-8">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
